<div style="margin: 10px; border: 1px solid #17ffc6; min-height: 200px;">
    <div style=" color: #17ffc6; font-size: 25px; text-align: center;">MayIHelpU</div>
    <div style="font-size: 20px; font-weight: bold; text-align: center;"><p>Reset your password!</p></div>
    <div>
        <p style="text-align: center;">Hi <%= user.name %>!</p>
        <p style="padding-left: 15px; padding-right: 15px; text-align: center;">
            You have requested a possword reset for your account 
            on <span style="color: #17ffc6;">MayIHelpU</span>. Your otp for reset password is 
            <span style="color: #17ffc6;"><%= Math.floor(100000 + Math.random() * 900000) %></span>.</p>
    </div>
</div>
